/*#############################################################
Name: Shades of Gray
Date: 2006-11-05
Description: Monochrome, lightweight and totally liquid. Comes with three different layouts.
Author: Viktor Persson
URL: http://arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}

a {text-decoration: none;}

body {
	background: #111 url(img/bg.jpg) repeat-y center top;
	color: #BBB;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}

p,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}

blockquote {font: bold 1em sans-serif;}

code {
	background: #444;
	display: block;
	font-size: 12px;
	margin: 0 10px 12px;
	overflow: auto;
	padding: 8px 10px;
	white-space: pre;
}

img {border: none;}

ul {margin-left: 2em;}
h1 {font: normal 2.4em sans-serif;}
h2 {
	font: bold 1.6em Verdana,sans-serif;
	padding-bottom: 4px;
}

/* misc */
.clearer {clear: both;}
.stripes {
	background: #333 url(img/stripe.gif);
	height: 6px;
}
.left {float: left;}
.right {float: right;}

/* header */
.header {
	background: #111;
	border-bottom: 1px solid #333;
	font: normal 2em sans-serif;
	height: 120px;
}
.header a {
	color: #888;
	display: block;
	line-height: 120px;
	text-decoration: none;
	width: 100%;
}
.header span {padding-left: 32px;}
.header a:hover {
	background: #191919;
	color: #BBB;
}

/* structure */
.container {
	border: 3px solid #444;
	border-top: none;
}

.main {
	background: #303030;
	border-bottom: 1px solid #2A2A2A;
	border-left: 1px solid #2A2A2A;
}
.main .left {width: 64%;}
.main .right {width: 36%;}

.content {
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	padding: 16px;
}

/* content elements */
.content h1 {
	background: url(img/bgh1.gif) repeat-x left bottom;
	color: #EEE;
	margin-bottom: 10px;
	padding: 6px 0 4px;
}
.content a {
	/*color: #999;
	text-decoration: underline;*/
}
.content a:hover {color: #CCC;}
.content .descr {margin-bottom: 5px;}

/* navigation */
.nav {background: #191919 url(img/nav.gif);}
.nav a {
	background: #191919 url(img/nav.gif);
	border-right: 1px solid #161616;
	color: #CCC;
	float: left;
	font: bold 1em Verdana,sans-serif;
	line-height: 51px;
	padding: 0 20px;
}
.nav a:hover {
	background: #191919 url(img/nav_hover.gif);
}

/* sub-navigation */
.subnav {
	background: #2A2A2A;
	border: 1px solid #1E1E1E;
	border-top-color: #444;	
	padding: 12px;
}
.subnav h1 {padding-top: 8px;}
.subnav ul {margin: 0;}
.subnav li {
	background: url(img/li.gif) no-repeat left bottom;
	list-style: none;
	margin: 0;
}
.subnav li a {
	color: #777;
	line-height: 2.4em;
	padding-left: 18px;
	text-decoration: none;
}
.subnav li a:hover {color: #BBB;}

/* footer */
.footer {
	background: #191919;
	border-top: 1px solid #444;
	color: #999;
	padding: 3% 3% 1%;
}
.footer ul {
	border-top: 1px solid #262626;
	margin: 0;
}
.footer li {
	border-bottom: 1px solid #262626;
	list-style: none;
}
.footer li a {
	display: block;
	line-height: 2em;
	padding-left: 4%;
	width: 96%;
}
.footer a {color: #666;}
.footer a:hover {
	color: #BBB;
	background: #222;
}

.col3,.col3center {
	float: left;
	width: 31%;
}
.col3center {margin: 0 3%;}

/* bottom */
.bottom {
	color: #666;
	clear: both;
	font-size: 1.1em;
}
.bottom a {color: #888;}


/*=============================*/
    /* Adittions by Seri.es*/
body {
    margin: 0 10%;
    background-color: #111
}

body, p, ol, ul, td {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.debug div {
    border: 1;
    border-color: white;

}

.main { 
  overflow:auto;
}
#catalog {
    background: rgb(187, 187, 187);
    border-radius: 40px 0% 0% 0%;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(34, 34, 34);
    margin: 4px;
}

.catalog_header {
    background: rgb(34, 34, 34);    
    border-radius: 40px 0px 0 0;    
    height: 38px;
    width: 100%;
}

.catalog_header_tab {
    height: 94% ;
    width: 25%;
    float: right;
    border: 0px solid;
    border-color: white;
    border-radius: 40px 0 0 0;
    text-align: right;
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(rgb(10, 10, 10)), to(rgb(48, 48, 48)) ); /* for Chrome + Safari */
    background-image: -moz-linear-gradient(  left,
    rgb(10, 10, 10), rgb(48, 48, 48) ); /* for Firefox */
    position: relative;
    right: -30px;
}

.last_tab{
  right: 0;
}

.catalog_header_tab a{
    text-align: center;
    border-radius: 40px 0 0 0;
    
}
.catalog_link_container a:hover {
  border-radius: 4px;
  background-color: rgb(157, 157, 157);
}
.catalog_link_container {
    width: 33% ;
}
.clickable_container a{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: parent;
  text-decoration: none;
  vertical-align: middle;
}

#catalog_body {
  width: 100%;
  min-height: 558px;

}

#main_container {

}

#letter_filter_side_bar {
  height: 100%;
  width: 20px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  text-align: center;
  border-color: rgb(34, 34, 34);
  float: left;
  
}
#catalog_series_list_container{
  height: 100%;
  margin-left: 20px;
  padding-top: 2px;
 /* margin: 0 20px 10px 50px;*/
  
}

.letter_filter_letter_container {
    border-bottom: 2px solid;
    border-color: black;
}

.letter_filter_letter_container a:hover {
  background-color: rgb(137, 137, 137);
}


.season_capitles_container {
  border-radius: 15px 15px 5px 5px;
  border: 3px solid;
  border-color: rgb(34, 34, 34);
  width: 30%;
  float: left;
  margin: 8px;
  margin-bottom: 20px;
}
.season_capitles_container_header {
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding-bottom: 5px;
  height: 15%;
  width: 100% 
}
.season_capitles_container_body {
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: rgb(187, 187, 187);
  height: 270px;
  overflow: auto;
  overflow-x: hidden;

}
.catalog_link_container_row {
  padding-left: 6px;
  padding-right: 3px;
  height: 30px;
   border-bottom: 0px solid;
  border-color: rgb(34, 34, 34);
}
.catalog_link_container {
  height: 100%;
  float: left;
  border-radius: 4px;
  background-color: rgb(207, 207, 207);
  margin: 1px;
}

.catalog_link_container a:hover {
  border-radius: 4px;
  background-color: rgb(157, 157, 157);
}

.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

#capitle_content_container {
  margin: 10px;
  border-radius: 15px 15px 3px 3px;
  background-color: rgb(187, 187, 187);
}

#capitle_content_header {
  height: 25px;
  width: 100%;
  background-color: rgb(48, 48, 48);
  
}
.capitle_content_header_tab {
  width: 25%;
  float: left;
  height: 100%;
  background: rgb(25, 25, 25);
  border-radius: 13px 13px 0px 0px;
}

.capitle_content_header_tab a {
  color: white;
  text-align: center;
  border-radius: 13px 13px 0px 0px;
}