<div id="serie_panel_container" class="content">
  <%=serie_info_panel(serie)%>

  <div id="serie_capitles_by_season_panel_contanier">
    <% 1.upto serie.seasons_count do |season| %>
      <%= render :partial => 'serie_capitles_by_season_container',
                 :locals => {:season => season, :capitles => serie.capitles.for_season(season)} %>
    <%end%>
  </div>


</div>