<h1>Home</h1>
<h3>Listing series</h3>

<table>
  <% @series.tabletize(3).each do |n_series_group| %>
    <tr>
      <% n_series_group.compact.each do |serie|%>
        <td><%= simple_link_to_serie(serie) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
