<h1>Listing series</h1>

<table>
  
<% @series.tabletize(3) do |three_series_group| %>
  <tr>
    <% three_series_group.each do |serie|%>
      <td><%= serie.title %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
